<!--ログイン後-->
  <% if logged_in? %>
    <div class="container mt-4">
      <div class="row">
        <!--左側・フォーム-->
        <aside class="col-sm-4">
          <%= render 'layouts/error_messages',model: @post %>
          <h3>Let's Record Animation!</h3>
          <%= form_with(model: @post, local: true) do |f| %>
            <div class="form-group">
              <%= f.label :title, 'Title'%>
              <%= f.text_area :title, class: 'form-control', rows: 1%>
            </div>
            <div class="form-group">
              <%= f.label :comment, 'Comment'%>
              <%= f.text_area :comment, class: 'form-control', rows: 5 %>
            </div>
            <div class="form-group">
                <%= f.file_field :image %>
            </div>
            <%= f.submit 'Record!', class: 'btn btn-primary btn-block'%>
          <% end %>
        </aside>
        <!--右側・一覧-->
        <div class="col-sm-8">
          <%= render 'posts/posts', posts: @posts %>
        </div>
      </div>
    </div>
  <% else%>
    <!--ログイン前-->
    <div class="main-container">
      <!--<div class="center jumbotron">-->
      <!--<div class="row">-->
      <div class="container">
        <div class="text-center">
          <h1>Favorite Animations</h1>
          <h4 class="mt-4">Let's Record Your Favorite Animations</h4>
          <div class="row mt-5">
            <%= link_to 'SignUp', signup_path, class: 'offset-3 col-2 btn btn-danger btn-lg' %>
            <%= link_to 'Login', login_path, class: 'offset-2 col-2 btn btn-danger btn-lg' %>
          </div>
        </div>
      </div>
      <!--</div>-->
      <!--</div>-->
    </div>
  <% end %>